<!DOCTYPE html>
<html>
  <head>
    <title>Damas chinesas</title>
    <script src="remote-log.js"></script>
    <script type="module">
      window.Vue = require("vue/dist/vue");
    </script>
    <link rel="stylesheet" href="font.css" />
    <link rel="stylesheet" href="nes.css" />
    <style>
      #form {
        position: absolute;
        top: 30%;
        bottom: 30%;
        left: 30%;
        right: 30%;
      }
    </style>
  </head>
  <body>
    <h1>Bem vindo!</h1>
    <form id="form" @submit.prevent.stop="doSubmit">
      <div class="nes-field">
        <label for="nickname">Apelido</label>
        <input
          id="nickname"
          class="nes-input"
          v-model="payload.nickname"
          required
        />
      </div>
      <br />
      <div class="nes-field">
        <label for="mode">Modo</label>
        <div class="nes-select is-success">
          <select id="mode" v-model="payload.mode" required>
            <option v-for="m in modes" :key="m">{{ m }}</option>
          </select>
        </div>
      </div>
      <br />
      <div v-if="payload.mode == 'join'" class="nes-field">
        <label for="ip">IP</label>
        <input class="nes-input" id="ip" v-model="payload.ip" required />
      </div>
      <br />
      <button class="nes-btn is-primary" type="submit">Ir para o lobby</button>
    </form>
    <script type="module">
      const { ipcRenderer } = require("electron");
      new Vue({
        el: "#form",
        data: {
          payload: {
            nickname: "",
            mode: "host",
            ip: "127.0.0.1"
          },
          modes: ["host", "join"]
        },
        methods: {
          doSubmit() {
            ipcRenderer.send("join-host", this.payload);
          }
        }
      });
      console.log("if you start me up i'll never stop, never stop");
    </script>
  </body>
</html>
