<!DOCTYPE html>
<html>
  <head>
    <title>Damas chinesas</title>
    <script type="module">
      window.Vue = require("vue/dist/vue");
    </script>
    <link rel="stylesheet" href="font.css" />
    <link rel="stylesheet" href="nes.css" />
    <style>
      #app {
        position: absolute;
        top: 30px;
        bottom: 30px;
        left: 30px;
        right: 30px;
      }
      .container {
        min-height: 400px;
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
      }

      .item {
        flex: 0 0 auto;
        margin: 5px;
        width: 500px;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <svg class="item" v-if="game">
        <path
          v-for="p in game.board"
          :key="p.id"
          :d="p.d"
          :style="mkStyle(p)"
          @click="sel(p)"
        />
      </svg>
    </div>
    <script type="module">
      const { ipcRenderer } = require("electron");
      new Vue({
        el: "#app",
        data: {
          game: null,
          myself: null,
          m:[]
        },
        created() {
          ipcRenderer.send("get-myself");
          ipcRenderer.send("get-my-game");
          ipcRenderer.on("myself", (e, myself) => {
            this.myself = myself;
          });
          ipcRenderer.on("my-game", (e, game) => {
            this.game = game;
          });
          ipcRenderer.on("game-move", (e, game) => {
            console.log("game move!");
            console.log(game);
          });
        },
        methods: {
          isMyTurn() {
            const [p1, p2] = this.game.challenge;
            const p = game.turn % 2 == 0 ? p1 : p2;
            return p.id == this.myself.id;
          },
          sel(p) {
            if (!this.canSel(p)) return;
            if (this.m.length == 1 && !this.canMoveTo(p)) {
              console.log("movimento ilegal");
              return;
            }
            p.glow = !p.glow;
            if (p.glow) {
              this.m.push(p);
            } else {
              this.m.pop();
            }
            console.log(this.m);
            if (this.m.length == 2) this.doMove();
          },
          canSel(p) {
            return true;
          },
          canMoveTo(p) {
            return true;
          },
          doMove() {
            const move = {
              p: this.myself,
              move: this.m,
              time: new Date().toJSON()
            };
            this.game.moves.push(move);
            ipcRenderer.send("send-game-move", this.game);
            this.m.forEach(e => (e.glow = false));
            this.m = [];
          },
          mkStyle(p) {
            const stl =
              "fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:2;stroke-miterlimit:4;stroke-opacity:1";
            let fill = "#e3dcec";
            if (p.glow) {
              switch (p.state) {
                case "free":
                  fill = "#efdfef";
                  break;
                case "p1":
                  fill = "#ff0000";
                  break;
                case "p2":
                  fill = "#0000ff";
                  break;
              }
            } else {
              switch (p.state) {
                case "free":
                  fill = "#e3dcec";
                  break;
                case "p1":
                  fill = "#990000";
                  break;
                case "p2":
                  fill = "#000099";
                  break;
              }
            }
            return `fill:${fill};` + stl;
          }
        }
      });
    </script>
  </body>
</html>
